@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 160 13% 4%;
    --foreground: 160 10% 98%;

    --card: 160 13% 9%;
    --card-foreground: 160 10% 98%;

    --popover: 160 13% 4%;
    --popover-foreground: 160 10% 98%;

    --primary: 152 76% 50%;
    --primary-foreground: 160 10% 4%;

    --secondary: 164 10% 12%;
    --secondary-foreground: 160 10% 98%;

    --muted: 164 10% 12%;
    --muted-foreground: 160 10% 65%;

    --accent: 164 10% 12%;
    --accent-foreground: 160 10% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 160 10% 98%;

    --border: 164 10% 18%;
    --input: 164 10% 18%;
    --ring: 152 76% 50%;

    --radius: 0.75rem;
  }

  .dark {
    --background: 160 13% 4%;
    --foreground: 160 10% 98%;

    --card: 160 13% 9%;
    --card-foreground: 160 10% 98%;

    --popover: 160 13% 4%;
    --popover-foreground: 160 10% 98%;

    --primary: 152 76% 50%;
    --primary-foreground: 160 10% 4%;

    --secondary: 164 10% 12%;
    --secondary-foreground: 160 10% 98%;

    --muted: 164 10% 12%;
    --muted-foreground: 160 10% 65%;

    --accent: 164 10% 12%;
    --accent-foreground: 160 10% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 160 10% 98%;

    --border: 164 10% 18%;
    --input: 164 10% 18%;
    --ring: 152 76% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}